In [2]:
import pandas as pd
import pyodbc as odbc

In [ ]:
sql_conn = odbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=192.168.10.9;DATABASE=ERSLive;UID=erslive;PWD=Abcd1234;')

In [8]:
query = "select top 10 * from sale_order"

In [9]:
df = pd.read_sql(query, sql_conn)

In [10]:
df.head()

,id,create_uid,create_date,write_date,write_uid,origin,picking_policy,order_policy,shop_id,client_order_ref,...,credit_total,commission_date,backdate,og_sale_currency_code,entry_operator,payment_method_id,warehouse_id,purchasing_distributor_id,autoship_id,shipping_method_id
0,83259380,None,07/09/2014 04:37:27 AM,03/08/2016 01:09:15 PM,None,None,direct,manual,45,None,...,0.0,None,None,NGN,None,118,1000023,10001438502,None,None
1,89019830,None,10/29/2014 08:42:26 PM,09/17/2016 10:11:39 AM,None,None,direct,manual,45,None,...,0.0,None,None,NGN,1795042,116,1000023,10001590056,None,None
2,90792400,None,12/04/2014 07:23:45 AM,07/12/2016 07:01:42 AM,None,None,direct,manual,31,None,...,0.0,None,None,THB,1966448,81,1000017,10001621954,None,None
3,94735450,None,03/06/2015 04:17:56 AM,01/21/2016 04:55:22 PM,None,None,direct,manual,7,None,...,0.0,None,None,USD,None,5,1000010,10000718547,None,None
4,95104280,None,03/16/2015 03:54:00 PM,05/17/2016 11:37:59 AM,None,None,direct,manual,45,None,...,0.0,None,None,NGN,None,118,1000023,10001596200,None,None